<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div{
            color: blueviolet;
            font-size: 30px;
            font-weight: bold;
        }
        #inp{
            width: 400px;
            height: 30px;
        }
        #inp1{
            width: 100px;
            height: 50px;
            background-color: rgb(94, 4, 179);
            font-size: 18px;
            color: azure;
        }
    </style>
</head>
<body>
    <form method="POST" action="/temperature">
        <div>City :</div><br>
        <input type="text" id="inp" name="city">
        <input type="submit" id="inp1">
    </form>
</body>
</html>